{% extends 'auth/base.html' %}
{% block css %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/datatables.min.css') }}">
{% endblock %}
{% block container %}
  <button data-toggle="modal" data-target="#gejalaModal"
          class="pull-right btn btn-primary">
    <i class="now-ui-icons ui-1_simple-add"></i>
    Tambah Gejala
  </button>
  <h2>
    Data Gejala
  </h2>

  {% if gejalas.__len__() <= 0 %}
    {% include 'partials/no-data.html' %}
  {% endif %}

  {% include 'partials/flash.html' %}

  {% if gejalas %}
    <table class="table-inverse table table-striped">
      <thead class="thead-inverse">
      <tr>
        <th>No</th>
        <th>Kode</th>
        <th>Gejala</th>
        <th>?</th>
      </tr>
      </thead>
      <tbody>
      {% for gejala in gejalas %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ gejala.kode_gejala }}</td>
          <td>{{ gejala.nama }}</td>
          <td>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button class="btn btn-sm btn-primary" gejala-id="{{ gejala.id }}" gejala-name="{{ gejala.nama }}"
                      onclick="editModalDialog(this)"><i class="fa fa-pencil"></i></button>
              <button class="btn btn-sm btn-danger" delete-url="{{ url_for('master.delete_gejala', id=gejala.id) }}"
                      gejala-name="{{ gejala.nama }}" onclick="deleteConfirmation(this)"><i class="fa fa-trash"></i>
              </button>
            </div>
          </td>
        </tr>
      {% endfor %}

      </tbody>
    </table>
  {% endif %}

  {#  modals#}
  <div class="modal fade" id="gejalaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form action="{{ url_for('master.gejala') }}" method="POST">
          <div class="modal-header justify-content-center">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              <i class="now-ui-icons ui-1_simple-remove"></i>
            </button>
            <h4 class="title title-up">Form Gejala</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="">Nama Gejala</label>
              <input type="text" name="nama" class="form-control"
                     placeholder="Nama Gejala">
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-info btn-simple">
              Simpan
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal fade" id="editGejalaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form action="{{ url_for('master.gejala') }}" method="POST">
          <input type="hidden" name="method" value="PATCH">
          <input type="hidden" name="id" id="id-gejala-edit">
          <div class="modal-header justify-content-center">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              <i class="now-ui-icons ui-1_simple-remove"></i>
            </button>
            <h4 class="title title-up">Form Edit Gejala</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="">Nama Gejala</label>
              <input type="text" id="nama-gejala-edit" name="nama" class="form-control"
                     placeholder="Nama Gejala">
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-info btn-simple">
              Simpan
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
{% block js %}
  {{ super() }}
  <script src="{{ url_for('static', filename='assets/js/datatables.min.js') }}"></script>
  <script>
    $('table').DataTable();

    function deleteConfirmation(el) {
      var name = el.getAttribute("gejala-name");
      let deleteUrl = el.getAttribute("delete-url");
      swal({
        title: "Yakin?",
        text: `Gejala: ${name} akan dihapus. Setelah dihapus data tidak bisa dikembalikan lagi`,
        icon: "warning",
        buttons: "Ya. Saya yakin",
        dangerMode: true,
      })
        .then((value) => {
          if (value)
            location.href = deleteUrl;
        });
    }

    function editModalDialog(el) {
      editGejalaModal = $("#editGejalaModal");
      idGejalaEdit = document.getElementById("id-gejala-edit");
      nameGejalaEdit = document.getElementById("nama-gejala-edit");
      idGejalaEdit.value = el.getAttribute("gejala-id");
      nameGejalaEdit.value = el.getAttribute("gejala-name");
      editGejalaModal.modal()
    }

  </script>
{% endblock %}