{% extends 'auth/base.html' %}
{% block css %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/datatables.min.css') }}">
{% endblock %}
{% block container %}
  <button data-toggle="modal" data-target="#penyakitModal"
          class="pull-right btn btn-primary">
    <i class="now-ui-icons ui-1_simple-add"></i>
    Tambah Penyakit
  </button>
  <h2>
    Data Penyakit
  </h2>

  {% if penyakits.__len__() <= 0 %}
    {% include 'partials/no-data.html' %}
  {% endif %}

  {% include 'partials/flash.html' %}

  {% if penyakits %}
    <table class="table-inverse table table-striped">
      <thead class="thead-inverse">
      <tr>
        <th>No</th>
        <th>Kode</th>
        <th>Penyakit</th>
        <th>?</th>
      </tr>
      </thead>
      <tbody>
      {% for penyakit in penyakits %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ penyakit.kode_penyakit }}</td>
          <td>{{ penyakit.nama }}</td>
          <td>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button class="btn btn-sm btn-primary" penyakit-id="{{ penyakit.id }}" penyakit-name="{{ penyakit.nama }}"
                      onclick="editModalDialog(this)"><i class="fa fa-pencil"></i></button>
              <button class="btn btn-sm btn-danger" delete-url="{{ url_for('master.delete_penyakit', id=penyakit.id) }}"
                      penyakit-name="{{ penyakit.nama }}" onclick="deleteConfirmation(this)"><i class="fa fa-trash"></i>
              </button>
            </div>
          </td>
        </tr>
      {% endfor %}

      </tbody>
    </table>
  {% endif %}

  {#  modals#}
  <div class="modal fade" id="penyakitModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form action="{{ url_for('master.penyakit') }}" method="POST">
          <div class="modal-header justify-content-center">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              <i class="now-ui-icons ui-1_simple-remove"></i>
            </button>
            <h4 class="title title-up">Form Penyakit</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="">Nama Penyakit</label>
              <input type="text" name="nama" class="form-control"
                     placeholder="Nama Penyakit">
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-info btn-simple">
              Simpan
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal fade" id="editPenyakitModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form action="{{ url_for('master.penyakit') }}" method="POST">
          <input type="hidden" name="method" value="PATCH">
          <input type="hidden" name="id" id="id-penyakit-edit">
          <div class="modal-header justify-content-center">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              <i class="now-ui-icons ui-1_simple-remove"></i>
            </button>
            <h4 class="title title-up">Form Edit Penyakit</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="">Nama Penyakit</label>
              <input type="text" id="nama-penyakit-edit" name="nama" class="form-control"
                     placeholder="Nama Penyakit">
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-info btn-simple">
              Simpan
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
{% block js %}
  {{ super() }}
  <script src="{{ url_for('static', filename='assets/js/datatables.min.js') }}"></script>
  <script>
    $('table').DataTable();

    function deleteConfirmation(el) {
      var name = el.getAttribute("penyakit-name");
      let deleteUrl = el.getAttribute("delete-url");
      swal({
        title: "Yakin?",
        text: `Penyakit: ${name} akan dihapus. Setelah dihapus data tidak bisa dikembalikan lagi`,
        icon: "warning",
        buttons: "Ya. Saya yakin",
        dangerMode: true,
      })
        .then((value) => {
          if (value)
            location.href = deleteUrl;
        });
    }

    function editModalDialog(el) {
      editPenyakitModal = $("#editPenyakitModal");
      idPenyakitEdit = document.getElementById("id-penyakit-edit");
      namePenyakitEdit = document.getElementById("nama-penyakit-edit");
      idPenyakitEdit.value = el.getAttribute("penyakit-id");
      namePenyakitEdit.value = el.getAttribute("penyakit-name");
      editPenyakitModal.modal()
    }

  </script>
{% endblock %}