<ul class="navbar-nav">
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('model.index') }}">
      <i class="now-ui-icons design_app"></i>
      <p>Atur Model</p>
    </a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="https://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown"
       aria-haspopup="true" aria-expanded="false">
      <i class="now-ui-icons files_paper"></i>
      <p>Data</p>
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      <a class="dropdown-item" href="#">Penyakit</a>
      <a class="dropdown-item" href="#">Gejala</a>
      <a class="dropdown-item" href="#">Riwayat Konsultasi</a>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#pablo">
      <i class="now-ui-icons users_circle-08"></i>
      <p>Profile</p>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#pablo">
      <i class="now-ui-icons ui-1_settings-gear-63"></i>
      <p>Settings</p>
    </a>
  </li>
</ul>