{% extends 'template.html' %}
{% block css %}
  <style>
    html {
      position: relative;
      min-height: 100%;
    }

    .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      font-size: small;
      /* Set the fixed height of the footer here */
      height: 60px;
      background-color: #f8f8f8;
    }

    body {
      padding-bottom: 70px;
    }
  </style>
{% endblock %}
{% block body %}
  <body>
  <nav class="navbar navbar-expand-lg bg-primary">
    <div class="container">
      <div class="navbar-translate">
        {% block applogo %}
          <a class="navbar-brand" href="#pablo">{{ config.APP_NAME }}</a>
        {% endblock %}
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#example-navbar-primary" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse justify-content-end" id="example-navbar-primary"
           data-nav-image="{{ url_for('static', filename='assets/img/blurred-image-1.jpg') }}">
        {% block nav %}{% endblock %}
      </div>
    </div>
  </nav>
  <div class="container">
    {% block container %}
      Override this content!
    {% endblock %}
  </div>
  <footer class="footer">
    <div class="container">
      <nav>
        <ul>
          <li>
            <a href="{{ url_for('base.help') }}">
              Bantuan
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright">
        &copy;
        <script>
          document.write(new Date().getFullYear())
        </script>
        , KI.
      </div>
    </div>
  </footer>
  </body>
{% endblock %}